/* odoo16  orderlist screen*/

.pos-content {
	.shorderlist-screen {
		.top-content {
			.sh_header_buttons {
				@include media-breakpoint-down(md) {
					overflow-x: auto;
					justify-content: unset !important;
					width: 100%;

					&::-webkit-scrollbar {
						width: 0px;
						height: 0px;
					}
				}

				.sh_top_bar_search_box {
					position: relative;
					display: flex;
					align-items: center;
					background-color: #ffffff;
					height: 100%;
					font-size: 16px;
					transition: all linear 150ms;
					width: 200px;
					border: solid 1px #E0E2E6;
					color: $o-brand-primary;
					box-shadow: none !important;

					.sh_pos_order_search {
						outline: none !important;
					}
				}

				.justify-content-end {
					width: 45%;

					@include media-breakpoint-down(lg) {
						width: 55%;
					}

					@include media-breakpoint-down(md) {
						width: auto;
					}
				}

				.sh_pos_order_filter {
					padding: 0.375rem 0.75rem;
					font-size: 1.09375rem;
					border-radius: 0.25rem;
					margin-left: 6px;
					margin-right: 6px;
					border: solid 1px #dee2e6;
					color: $sh_pos_primary_color;
					cursor: pointer;
					transition: all 150ms linear;
					background: #fff;
					box-shadow: none !important;

					@include media-breakpoint-down(md) {
						width: 105px;
					}
				}

				.sh_top_bar_date_box {
					margin-right: 10px;

					.form-control {
						padding: 0.375rem 0.75rem;
						font-size: 1.09375rem;
						border-radius: 0.25rem;
						margin-left: 6px;
						margin-right: 6px;
						border: solid 1px #E0E2E6;
						color: $sh_pos_primary_color;
						cursor: pointer;
						transition: all 150ms linear;
						background: #ffffff;
						box-shadow: none !important;

						&:hover {
							border: solid 1px $o-brand-primary;
						}
					}
				}
			}
			.sh_page_controls {
				position: fixed;
				bottom: 0;
				padding: 7px 10px;
				width: 100%;
				background-color: #f1f1f1;
			}

			.sh_full_content_service_management{
				&.sh_order_list_full_content {
					overflow-y: auto;
					@include media-breakpoint-down(lg) {
						&::-webkit-scrollbar {
							width: 0px;
							height: 0px;
						}
					}
					.sh_order_list {
						@include media-breakpoint-down(lg) {
							word-break: unset;
							white-space: nowrap;
						}
						thead {
							word-break: break-word;
							@if $sh_header_sticky == "True" {
								position: sticky;
								top: 0;
								z-index: 1;
							  }
							th {
								padding: 0.75rem 0.75rem;
								// background: #4A4F59;
								color: #ffffff;
								position: sticky;
								top: 0;
								font-size: 16px;
								font-weight: 600;
								text-transform: capitalize;
							}

							th.sh_orderlist_name_th {
								width: 14%;
								word-break: break-word;
							}

							th.sh_orderlist_ref_th {
								width: 20%;
								word-break: break-word;
							}

							th.sh_orderlist_cust_th {
								width: 26%;
								word-break: break-word;
							}

							th.sh_orderlist_table_th {
								width: 7%;
								word-break: break-word;
								text-align: center;
							}

							th.sh_orderlist_date_th {
								width: 16%;
								word-break: break-word;
							}

							th.sh_orderlist_total_th {
								width: 10%;
								word-break: break-word;
							}

							th.sh_orderlist_state_th {
								width: 7%;
							}

						}
						.sh_order_list_contents{
							tr{
								@for $yj from 1 through 10000{
									&[data-id="#{$yj}"]{
										@if ($yj % 2 == 0){
											background-color: $sh_odd_row_color;
										}
										@else {
											background-color: $sh_even_row_color;
										}
									}
								}
								td{
									table{
										tr{
											&:nth-child(even) {
												background: $sh_even_row_color !important;
											}

											&:nth-child(odd) {
												background: $sh_odd_row_color !important;
											}
											@if $sh_list_row_hover == "True" {
												&:hover {
												  background: $sh_hover_background_color !important;
												}
											  }
										}
									}
								}
								@if $sh_list_row_hover == "True" {
									&:hover {
									  background: $sh_hover_background_color !important;
									}
								}
							}
							.sh_order_line{
								cursor: pointer;
								// &:hover {
								// 	td {
								// 		color: #ffffff;
								// 	}
								// }

								td {
									padding: 10px;
									font-size: 16px;
									font-weight: normal;
									color: #4A4F59;
								}

								td.sh_orderlist_name_td {
									width: 14%;
									word-break: break-word;
								}

								td.sh_orderlist_ref_td {
									width: 20%;
									word-break: break-word;
								}

								td.sh_orderlist_customer_td {
									width: 26%;
									word-break: break-word;
								}

								td.sh_orderlist_table_td {
									width: 7%;
									word-break: break-word;
									text-align: center;
								}

								td.sh_orderlist_date_td {
									width: 16%;
									word-break: break-word;
								}

								td.sh_orderlist_total_td {
									width: 10%;
									word-break: break-word;
								}

								td.sh_orderlist_state_td {
									width: 7%;
									text-align: center;
								}
								td.sh_orderlist_print_order_td {
									display: inline-flex;
									align-items: center;
									text-align: center;
									border-bottom: 0 !important;

									.re_order_icon {
										&:hover {
											cursor: pointer;
										}

										margin: 0px 6px;
									}

									.print_order {
										&:hover {
											cursor: pointer;
										}

										margin: 0px 6px;
									}
								}
							}
							.sh_sub_order_line_tr{
								td {
									padding: 5px 10px;
									&:has(.sh_hide_lines) {
										padding: 0;
									}
								}
								table{
									width: 100%;
									box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.12) !important;
									word-break: break-word;

									thead{
										th {
											background: #4A4F59;
											color: #ffffff;
											padding: 10px;
											font-size: 16px;
											font-weight: 600;
											text-transform: capitalize;
										}
										th.sh_inner_table_product_th {
											width: 40%;
										}

										th.sh_inner_table_qty_th {
											width: 10%;
											text-align: center;
										}

										th.sh_inner_table_disc_th {
											width: 10%;
											text-align: center;
										}

										th.sh_inner_table_unit_price_th {
											width: 20%;
											text-align: center;
										}

										th.sh_inner_table_sub_total_th {
											width: 20%;
											text-align: center;
										}
									}
									.sh_inner_table_data_row{
										// &:hover {
										// 	background: $o-brand-primary !important;
										// 	color: #ffffff;
										// 	font-weight: normal;
										// 	border-bottom: 1px solid #e9e9e9;
										// 	cursor: pointer;
										// 	td {
										// 		color: #ffffff;
										// 	}
										// }
										&:nth-child(odd) {
											background: #E0E2E6;
										}
										&:nth-child(even) {
											background: #ffffff;
										}
										&:last-child {
											border-bottom: 0px !important;
										}
										td {
											padding: 10px;
											font-size: 16px;
											font-weight: normal;
										}
										td.sh_inner_table_product_td {
											width: 40%;
										}

										td.sh_inner_table_qty_td {
											width: 10%;
											text-align: center;
										}

										td.sh_inner_table_disc_td {
											width: 10%;
											text-align: center;
										}

										td.sh_inner_table_unit_price_td {
											width: 20%;
											text-align: center;
										}

										td.sh_inner_table_sub_total_td {
											width: 20%;
											text-align: center;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// body {
// 	.pos {
// 		.pos-content {
// 			.shorderlist-screen {
// 				.top-content {
// 					.sh_full_content_service_management {
// 						.sh_order_list {
// 							tbody {
// 								tr {
// 									td {
// 										table {
// 											thead {
// 												@include theme_4_bg_color;
// 												@if $sh_header_sticky == "True" {
// 													position: sticky;
// 													top: 0;
// 													z-index: 1;
// 												}
// 												th {
// 													background: transparent !important;
// 												}
// 											}
// 											tbody {
// 												tr {
// 													&:nth-child(even) {
// 														background: $sh_even_row_color !important;
// 													}

// 													&:nth-child(odd) {
// 														background: $sh_odd_row_color !important;
// 													}
// 													@if $sh_list_row_hover == "True" {
// 														&:hover {
// 															background: $sh_hover_background_color !important;
// 														}
// 													}
// 													td {
// 														table {
// 															tr {
// 																&:nth-child(even) {
// 																	background: $sh_even_row_color !important;
// 																}

// 																&:nth-child(odd) {
// 																	background: $sh_odd_row_color !important;
// 																}
// 																@if $sh_list_row_hover == "True" {
// 																	&:hover {
// 																		background: $sh_hover_background_color !important;
// 																	}
// 																}
// 															}
// 														}
// 													}
// 												}
// 											}
// 										}
// 									}
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
