// <------------------------------------------------->
// <-------- action button position -start----------->
// <------------------------------------------------->

@if $sh_action_button_position == "bottom" {
    .product-screen.sh_control_button_bottom:not(.sh_hide_control_button_screen),
    .ticket-screen.sh_control_button_bottom:not(.sh_hide_control_button_screen) {
        @include media-breakpoint-up(lg) {
            height: 93% !important;

            ~ .sh_action_button {
                position: fixed;
                bottom: 0;
                height: 7% !important;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }
    }
    .pos {
        .pos-content {
            .ticket-screen {
                height: 93% !important;
                @include media-breakpoint-only(sm){height: 100% !important;}
                @include media-breakpoint-only(xs){height: 100% !important;}
            }
            .control-buttons {
                height: 7% !important;
                padding: 0 !important;
                .btn{
                    font-weight: 600 !important;
                    &.text-truncate {
                        overflow: unset;
                    }
                }
            }
        }
    }
}

@if $sh_action_button_position == "right_side" or $sh_action_button_position == "left_side"  {
    body {
        .pos {
            .pos-content {
                .product-screen {
                    .leftpane{
                        @include media-breakpoint-only(lg){
                            width: 30%;
                        }
                    }
                    .rightpane{
                        @include media-breakpoint-only(lg){
                            width: 50%;
                        }
                    }
                    .control-buttons {
                        width: auto !important;
                        background: #e9ecef ;
                        @include media-breakpoint-only(lg){
                            &:not(.control-buttons-modal ){
                                width: 20% !important;
                            }
                        }
                        // &:not(.control-buttons-modal ){
                        //     .set-partner{
                        //         display: none;
                        //     }
                        // }
                        .btn {
                            &.sh_hide_button {
                                display: none;
                            }
                        }
                        .control-buttons {
                            display: flex !important;
                            flex-direction: column;
                            padding-right: 10px;
                            height: 100%;
                            overflow-y: scroll;
                            overflow-x: hidden;
                            padding: 10px;
                            @include scroll_bar;
                            .btn {
                                text-wrap: wrap;
                                box-shadow:
                                    0 2px 2px 0 rgba(0, 0, 0, 0.1),
                                    0 3px 5px 0 rgba(0, 0, 0, 0.1);
                                background: #ffffff !important;
                                color: #414141;
                                font-size: 16px;
                                width: 200.667px;
                                max-width: 311.667px;
                                padding: 10px !important;
                                line-height: 20px !important;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-weight: 600 !important;
                                border: 0px;
                                transition: all 0.5s;
                                &.text-truncate {
                                    overflow: unset;
                                }
                            }
                        }
                    }
                }
                .ticket-screen {
                    .screen-full-width {
                        .control-buttons {
                            flex-direction: column;
                            background: #e9ecef ;
                            padding-right: 10px;
                            .btn {
                                &.flex-grow-1 {
                                    flex-grow: unset !important;
                                }
                                text-wrap: wrap;
                                box-shadow:
                                    0 2px 2px 0 rgba(0, 0, 0, 0.1),
                                    0 3px 5px 0 rgba(0, 0, 0, 0.1);
                                background: #ffffff !important;
                                color: #414141;
                                font-size: 16px;
                                width: 200.667px;
                                max-width: 311.667px;
                                padding: 10px !important;
                                line-height: 20px !important;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border: 0px;
                                font-weight: 600 !important;
                                transition: all 0.5s;
                                overflow: hidden;
                                &.text-truncate {
                                    overflow: unset;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@if $sh_action_button_position == "right_side"{
    body {
        .pos {
            .flex-grow-1 {
                .product-screen {
                    .control-buttons {
                        order: 3;
                    }
                }
            }
        }
    }   
}

// <------------------------------------------------->
// <-------- action button position end-------------->
// <------------------------------------------------->

// <------------------------------------------------->
// <----------- cart position start ----------------->
// <------------------------------------------------->

@if $sh_cart_position == "right_side" {
    body {
        .pos {
            .flex-grow-1 {
                .product-screen {
                    .leftpane{
                        order: 2;
                        border-left: 1px solid #ddd;
                    }
                    .rightpane{
                        order: 1;
                    }
                }
            }
        }
    }
}
@if $sh_cart_position == "left_side" {
    body {
        .pos {
            .flex-grow-1 {
                .product-screen {
                    .leftpane{
                        border-right: 1px solid #ddd;
                    }
                    // .rightpane{
                    //     order: 1;
                    // }
                }
            }
        }
    }
}

// <------------------------------------------------->
// <------------ cart position end ------------------>
// <------------------------------------------------->

// <------------------------------------------------->
// <------------ product style start ---------------->
// <------------------------------------------------->

@if $sh_display_product_image_name == "product_name"{
    body .pos .flex-grow-1 .product-screen .rightpane .position-relative .product-list .product{
        height: 130px;
        justify-content: center;
        align-items: center !important;
    }
}

// <------------------------------------------------->
// <------------ product style end ------------------>
// <------------------------------------------------->