.sh_display_product.d-flex {
    flex-wrap: wrap;
    article {
        width: 24% !important;
        height: 100% !important;
        margin: 3px 2px !important;
        @include media-breakpoint-down(sm) {
            width: 32% !important;
        }
        @media (max-width: 320px) {
            width: 48% !important;
        }
        @media (max-width: 233px) {
            width: 100% !important;
        }
        .product-content {
            height: 50px;
        }
    }
}
body {
    .pos {
        .pos-content {
            .templateproductlist-screen {
                .screen-content {
                    .top-content {
                        .top-right-buttons {
                            .search-bar-container {
                                .input-group {
                                    .pos-search-bar {
                                        @if $sh_pos_body_background_type == "bg_img" {
                                            background: rgba(255, 255, 255, 0.15) !important;
                                            backdrop-filter: blur(7.5px) !important;
                                            border-color: transparent !important;
                                            i,
                                            span {
                                                color: #fff !important;
                                            }
                                            input {
                                                color: #fff !important;
                                                background: transparent !important;
                                                &::placeholder {
                                                    color: #fff !important;
                                                }
                                            }
                                        }
                                        &:hover {
                                            border-color: $sh_pos_primary_color;
                                        }
                                        &:has(input:focus) {
                                            border-color: $sh_pos_primary_color;
                                        }
                                        @if $sh_form_element_style == "style_1" {
                                            border-radius: 5px 0 0 5px !important;
                                        }
                                        @if $sh_form_element_style == "style_2" {
                                            border-radius: 15px 0 0 0 !important;
                                        }
                                        @if $sh_form_element_style == "style_3" {
                                            border-radius: 0 !important;
                                        }
                                        @if $sh_form_element_style == "style_4" {
                                            border-radius: 50px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .full-content {
                        .window {
                            .subwindow {
                                .subwindow-container {
                                    .subwindow-container-fix {
                                        table {
                                            thead {
                                                @if $sh_pos_theme_style ==
                                                    "style_1" or
                                                    $sh_pos_theme_style ==
                                                    "style_2" or
                                                    $sh_pos_theme_style ==
                                                    "style_3"
                                                {
                                                    background: $sh_pos_primary_color;
                                                }
                                                @if $sh_pos_theme_style == "style_4" {
                                                    @include theme_4_bg_color;
                                                }
                                                th {
                                                    background: transparent !important;
                                                }
                                            }
                                            tbody {
                                                tr {
                                                    &.highlight {
                                                        td {
                                                            color: $sh_pos_primary_color !important;
                                                        }
                                                    }
                                                    &:nth-child(odd) {
                                                        background: $sh_odd_row_color !important;
                                                    }
                                                    &:nth-child(even) {
                                                        background: $sh_even_row_color !important;
                                                    }
                                                    @if $sh_list_row_hover == "True" {
                                                        &:hover {
                                                            background: $sh_hover_background_color !important;
                                                        }
                                                    }
                                                    @if $sh_pos_body_background_type == "bg_img" {
                                                        td {
                                                            color: #fff;
                                                            border: 0;
                                                            box-shadow: none;
                                                        }
                                                        &:nth-child(odd) {
                                                            background: rgba(
                                                                $sh_odd_row_color,
                                                                $alpha: 0.19
                                                            ) !important;
                                                            backdrop-filter: blur(7.5px);
                                                        }
                                                        &:nth-child(even) {
                                                            background: rgba(
                                                                $sh_even_row_color,
                                                                $alpha: 0.19
                                                            ) !important;
                                                            backdrop-filter: blur(7.5px);
                                                        }
                                                        @if $sh_list_row_hover == "True" {
                                                            &:hover {
                                                                background: rgba(
                                                                    $sh_hover_background_color,
                                                                    $alpha: 0.15
                                                                ) !important;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .o-main-components-container {
        .o-overlay-container {
            .o-overlay-item {
                .o_dialog {
                    .modal {
                        .modal-dialog {
                            .modal-content {
                                .modal-body {
                                    .sh_display_product {
                                        .btn {
                                            @if $sh_pos_product_style == "style_4" {
                                                border-radius: 20px !important;
                                                img {
                                                    border-radius: 20px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
