.pos {
	.pos-content {
		.leftpane {			
            .sh_summary {
                .line.global_discount_line {
                    margin-top: 5px;
                    .sh_global_title{
                        font-weight: bold;
                        font-size: 20px !important;
                        padding: 0  !important;
                    }
                    .global_fixed_discount{
                        line-height: 13px!important;
                        .subentry {
                            font-weight: bold;
                            font-size: 16px !important;
                            color: rgba(73, 80, 87, 0.76) !important;
                        }
                    }
                }
            }
		}
		.product-screen{
			.leftpane{
				.order-summary{
					div:nth-of-type(2){
						justify-content: end !important;
						gap: 10px;
					}
				}
			}
		}
	}
	.o-main-components-container{
		.o_technical_modal{
			.modal-dialog{
                .modal-content:has(.sh_discount_radio){
                    width: 100% !important;
                    margin: auto;                           
                }
                .modal-content{
                    .modal-body{
                        .popup{
                            .modal-body {
                                .sh_discount_radio , .discount_amount_div{
                                    input{
                                        &:focus , &:hover{
                                            border-color: $sh_pos_primary_color;
                                        }
                                        &:checked{
                                            background-color: $sh_pos_primary_color;
                                            border-color: $sh_pos_primary_color;
                                        }
                                    }
                                }
                            }
                        }
                        .sh_modul_body{
                            .sh_discount_radio{
                                @include media-breakpoint-down(sm) {
                                    flex-direction: column;
                                    align-items: center;
                                }
                                .sh_custom_radio{
                                    font-size: 16px !important;
                                    input{&:focus{box-shadow: none !important;}}
                                }
                            }
                            .discount_amount_div{
                                span{font-size: 16px !important;}
                                input{&:focus{box-shadow: none !important;}}
                            }
                        }
                    }
                }
			}
		}
	}
}