body{
    .pos{
        .pos-content {
            .receipt-screen {
                .screen-content {
                    .default-view {
                        .actions{
                            .d-flex{
                                .buttons{
                                    display: flex;
                                    justify-content: space-between;
                                    @include media-breakpoint-down(md) {
                                        flex-direction: column;
                                    }
                                    .button{
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        width: 100%;
                                        border: 1px solid #c7c5c5;
                                        margin: 2px;
                                        i{
                                            margin-right: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}