.suggestion-list {
    position: absolute;
    height: calc(100vh - 80vh);
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    border: thin solid $sh_pos_primary_color;
    overflow-y: auto;
    background: #dee2e6 ;
    z-index: 1000;
    border-radius: 10px;
    padding: 20px 10px;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
        background: transparent !important;
    }
    &::-webkit-scrollbar-thumb {
        background: $sh_pos_primary_color !important;
        border-radius: 10px;
    }
    @if $sh_pos_theme_style == "style_4" {
        &::-webkit-scrollbar-thumb {
            @include theme_4_bg_color;
        }
    }
    .product-list {
        justify-content: center !important;
    }
}

body {
    .pos {
        .pos-content {
            .product-screen {
                .rightpane {
                    .position-relative {
                        .overflow-y-auto.product-list:has( ~ .suggestion-list){
                            height: calc(100vh - 49vh);
                        }
                    }
                }
            }
        }
    }
}
