.pos {
	.product {
		.sh_warehouse_display {
			right: 3px;
			color: white;
			line-height: 13px;
			background: $o-brand-primary;
			padding: 2px 5px;
			border-radius: 0px;
			position: absolute;
			width: auto;
			top: 3px;
		}
	}

	.sh_qty_popup {
		.product_content.body {
			.product_image {
				height: 91px;
				width: 91px;
			}

			.sh_product_name {
				.sh_max_qty {
					font-weight: normal;
					margin-top: 5px;
				}

				.sh_product_name_warning_popup {
					font-weight: bold;
					font-size: 16px;
				}

				.sh_min_qty_warning_popup {
					.sh_bold_qty {
						font-weight: bold;
					}

					font-size: 16px;
				}
			}

			.sh_product_image {
				margin-bottom: 10px;
			}
		}
	}

	.pos-content {
		.product-screen {
			.rightpane {
				// .product-list-container {
				// 	.product {
				// 		position: relative;
				// 		.product-content {
				// 			.sh_product_qty{
				// 				width: 25px;
				// 				height: 15px;
				// 				background: $o-brand-primary;
				// 				border-radius: 5px;
				// 				color: #fff;
				// 				display: flex;
				// 				justify-content: center;
				// 				align-items: center;
				// 				position: absolute;
				// 				top: 11px;
				// 				left: 0px;
				// 			}
				// 			.product-image-icon {
				// 				text-align: right;
				// 				bottom: 0px;
				// 				font-size: 17px;
				// 				right: 0px;
				// 				line-height: 13px;
				// 				border-radius: 2px;
				// 				z-index: 1000;
				// 				color: $o-brand-primary;
				// 				padding: 3px;
				// 			}
				// 		}
				// 	}
				// }
				.position-relative {
					.product-list {
						.product {
							.sh_product_box_icon {
								position: absolute;
								@if $sh_display_product_image_name == "image_name" {
									bottom: 38px;
									right: 6px;
								}
								@if $sh_display_product_image_name ==
									"product_name" or
									$sh_display_product_image_name ==
									"image"
								{
									bottom: 6px;
									right: 6px;
								}
								.product-image-icon {
									.fa-building-o {
										font-size: 18px;
									}
								}
							}
							.sh_product_qty {
								position: absolute;
								top: 5px;
								left: 5px;
								width: auto;
								height: auto;
								background-color: rgba($o-community-color, $alpha: 0.7);
								color: #fff;
							}
						}
					}
				}
			}
			.leftpane {
				.d-flex {
					.order-container {
						.orderline {
							.d-flex {
								.d-flex {
									.sh_product_box_icon {
										.sh_orderline_stock_icon {
											margin-left: 10px !important;
											margin-right: 0 !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.ticket-screen {
			.screen-full-width {
				.leftpane {
					.d-flex {
						.order-container {
							.orderline {
								.d-flex {
									.d-flex {
										.sh_product_box_icon{
											.sh_orderline_stock_icon{
												margin-left: 10px;
												margin-right: 0 !important;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.o-main-components-container {
		.o-overlay-container {
			.o-overlay-item {
				.o_dialog {
					.modal {
						.modal-dialog {
							.modal-content {
								.modal-body {
									.sh_alternative_products{
										.product-list {
											article{
												.sh_product_box_icon{
													position: absolute;
													@if $sh_display_product_image_name == "image_name" {
														bottom: 38px;
														right: 6px;
													}
													@if $sh_display_product_image_name == "product_name" or $sh_display_product_image_name == "image"{
														bottom: 6px;
														right: 6px;
													}
													.product-image-icon {
														.fa-building-o {
															font-size: 18px;
														}
													}
												}
												.sh_product_qty{
													width: 30px;
													height: 30px;
													display: flex;
													position: absolute;
													top: 0;
													left: 0;
													justify-content: center;
													align-items: center;
													color: #fff;
													@include form_element_radius;
													@if $sh_form_element_style == "style_4" {
														border-radius: 100% !important;
													}
													@if $sh_pos_theme_style == "style_1" or $sh_pos_theme_style == "style_2" or  $sh_pos_theme_style == "style_3"  {
														background: $sh_pos_primary_color;
													}
													@if $sh_pos_theme_style == "style_4" {
														@include theme_4_bg_color;
													}
												}
											}
										}
									}
									.popup {
										.modal-body {
											.sh_box {
												text-align: center;
											}
											#sh_table_id {
												max-height: 250px;
												overflow-y: auto;
												&::-webkit-scrollbar {
													width: 5px;
												}
												&::-webkit-scrollbar-track {
													box-shadow: inset 0 0 5px grey;
													border-radius: 10px;
													background: transparent !important;
												}
												&::-webkit-scrollbar-thumb {
													background: $sh_pos_primary_color;
													border-radius: 10px;
												}
												@if $sh_pos_theme_style == "style_4" {
													&::-webkit-scrollbar-thumb {
														@include theme_4_bg_color;
													}
												}
												.table {
													thead {
														@if $sh_pos_theme_style ==
															"style_1" or
															$sh_pos_theme_style ==
															"style_2" or
															$sh_pos_theme_style ==
															"style_3"
														{
															background: $sh_pos_primary_color;
														}
														@if $sh_pos_theme_style == "style_4" {
															@include theme_4_bg_color;
														}
														@if $sh_header_sticky == "True" {
															position: sticky;
															top: 0;
															z-index: 1;
														}
														tr {
															th {
																color: #fff;
																text-align: center;
															}
														}
													}
													tbody {
														tr {
															&:nth-child(odd) {
																background: $sh_odd_row_color !important;
															}
															&:nth-child(even) {
																background: $sh_even_row_color !important;
															}
															@if $sh_list_row_hover == "True" {
																&:hover {
																	background: $sh_hover_background_color !important;
																}
															}
															td {
																text-align: center;
															}
														}
													}
													tfoot {
														tr {
															position: sticky;
															bottom: 0;
															background: #f5f5f5;
															th {
																text-align: center;
															}
														}
													}
												}
											}
										}
									}
								}
								.modal-footer {
									&.justify-content-around {
										justify-content: start !important;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
