@mixin secondary_btn {
  border: 2px solid !important;
  background: #fff;
}

@mixin scroll_bar {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background: transparent !important;
  }
  &::-webkit-scrollbar-thumb {
    background: $sh_pos_primary_color;
    border-radius: 10px;
  }
}

@mixin theme_4_bg_color {
  background: linear-gradient(119deg, $sh_pos_primary_color 18%, $sh_pos_gradient_color) !important;
}

@mixin bg_type_image_style_4 {
  background: rgba(255, 255, 255, 0.15) !important;
  backdrop-filter: blur(7.5px) !important;
  border-color: transparent !important;
  color: #fff !important;
}

// <---------------------------------------------->
// <------------- btn radius start --------------->
// <---------------------------------------------->

@mixin btn_border_radius {
  @if $sh_pos_button_style == "style_1" {
    border-radius: 5px !important;
  }
  @if $sh_pos_button_style == "style_2" {
    border-radius: 15px 0 !important;
  }
  @if $sh_pos_button_style == "style_3" {
    border-radius: 0 !important;
  }
}

// <---------------------------------------------->
// <--------------- btn radius end --------------->
// <---------------------------------------------->



// <---------------------------------------------->
// <-------- form element radius start ----------->
// <---------------------------------------------->

@mixin form_element_radius {
  @if $sh_form_element_style == "style_1" {
    border-radius: 5px !important;
  }
  @if $sh_form_element_style == "style_2" {
    border-radius: 15px 0 !important;
  }
  @if $sh_form_element_style == "style_3" {
    border-radius: 0 !important;
  }
}

// <---------------------------------------------->
// <--------- form element radius end ------------>
// <---------------------------------------------->