.sh_shortcut_modal_dialog{
    font-weight: normal !important;
    font-size: 15px !important;
    .sh_payment_popup{       
        .main_div_sh_payment{
            .sh_shortcut_table_header{
                font-weight: bold;
                margin-bottom: 10px;
                margin-top: 15px;
            }
            .sh_shortcut_table{
                width: 100%;
                margin-bottom: 15px;
                tr{
                    th {
                        padding: 5px 10px;
                        width: 50%;
                        background: #ccc;
                    }
                    td {
                        padding: 5px 10px;
                        border-bottom: 1px solid #ccc;
                    }
                }
            }
        }
    }
}
body{
    .o-main-components-container{
        .o-overlay-container{
            .o-overlay-item{
                .o_dialog{
                    .modal{
                        .modal-dialog {
                            &:has(.modal-content .modal-body  .popup .modal-body .main_div_sh_payment){
                                width: 50%;
                            }
                            .modal-content{
                                .modal-body {
                                    &:has(.popup .modal-body .main_div_sh_payment){
                                        overflow: unset;
                                    }
                                    .popup{
                                        .modal-body{
                                            .main-body {
                                                &.main_div_sh_payment{
                                                    height: 290px;
                                                    overflow-y: scroll;
                                                }
                                                .sh_shortcut_table_header{
                                                    font-weight: bold;
                                                    font-size: 16px;
                                                    text-align: center;
                                                    padding-bottom: 15px;
                                                }
                                                table{
                                                    thead{
                                                        background: $o-community-color;
                                                        position: sticky;
                                                        top: 0;
                                                        tr{
                                                            th{
                                                                color: #fff;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}